input{
  appearance: none;
}

.sec-1 {

  input,
  textarea {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid var(--input-placeholder);
    background-color: var(--input-base);
    padding: 1rem;
    font: var(--body-sm);
    color: var(--input-placeholder);

  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: .05rem solid var(--brand-light);
    color: var(--text-heading);
  }

  /*input:invalid, textarea:invalid{
  outline: .05rem solid #FF5959;
  border: .125rem solid red;
}*/

  input[type="date"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
      position: absolute;
      background-image: url(../../assets/icons/calendar.svg);
      right: 1rem;
    }
  }

  textarea {
    padding-bottom: 6.25rem;
  }


  .radio-wrapper {
    border: 1px solid var(--input-placeholder);
    border-radius: .5rem;
    padding: 0.25rem;
    background-color: var(--input-base);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    gap: .5rem;


    .radio-iner {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-content: center;
      position: relative;
      padding: .7rem;

      input,
      input:focus,
      input:hover {
        all: unset;
        position: absolute;
        inset: 0;

      }

      svg {
        align-self: center;
      }

      label {
        margin-bottom: 0;
      }

      &:has(:checked) {
        background-color: var(--input-stroke);

        border-radius: .5rem;

        svg {
          stroke: #59B2FF;
        }

        label {
          color: #f9f9f9;
        }
      }

    }

  }
}

.sec-2 {
  .cores {
    label {
      margin-top: 1.5rem;
    }

    .radio-wrapper {
      display: flex;
      gap: 2rem;
    }

    .radio-iner {

      input {
        appearance: none;
        margin-top: 1rem;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 8px solid var(--shape-button);
      }

      input:hover,
      input:focus {
        border: 8px solid var(--shape-hover);
      }

      input[type="radio"]:checked {
        border: 8px solid var(--shape-button);
        outline: 4px solid #59B2FF;
      }

    }
  }


  .temas {
    .radio-wrapper {
      margin-top: 1rem;
      display: grid;
      gap: .5rem;

      .radio-iner {
        display: grid;
        place-items: center;
        position: relative;
        background-color: var(--input-stroke);
        padding: .40rem .40rem .5rem .40rem;
        border-radius: .25rem;
        text-align: center;

        input {
          position: absolute;
          inset: 0;
          border-radius: .25rem;
        }

        label {
          margin-top: .45rem;
        }
      }

      input[type="radio"]:checked {
        border: 3px solid var(--brand-light);
      }
    }
  }

  .estilo {
    label {
      margin-block: 1.5rem;
    }

    .radio-wrapper {
      border: 2px solid var(--input-stroke);
      background-color: var(--input-base);
      width: 8rem;
      height: 4.2rem;
      padding: .5rem;
      border-radius: 2rem;
      display: flex;
      gap: 1rem;
    }

    

    .radio-iner{
      position: relative;
    }

    input{
      width: 3rem;
      height: 3rem;
      background-color: var(--input-stroke);
      border-radius: 50%; 
      cursor: pointer;
      opacity: 0;
    }  

    input:checked{
      width: 3rem;
      height: 3rem;
      background-color: var(--input-stroke);
      border-radius: 50%; 
      cursor: pointer;
      opacity: 100;
    }

    input[value="escuro"]::before{
      position: absolute;
      left: 9rem;
      top: .5rem;
      content: "Escuro";
      color: white;
      font-size: 1.5rem;
    }

    input[value="claro"]:checked{
      width: 3rem;
      height: 3rem;
      background-color: var(--text-heading);
      border-radius: 50%; 
      cursor: pointer;
      opacity: 100;
    }

    input[value="claro"]::before{
      position: absolute;
      left: 5rem;
      top: .5rem;
      content: "Claro";
      color: var(--text-heading);
      font-size: 1.5rem;
    }
    /*Está incompleto, não consegui mudar o fundo juntamente com o radio*/ 
  
  }

  
}