.radio-wrapper{
  border: 1px solid var(--input-placeholder);
  border-radius: .5rem;
  padding: 0.25rem;
  background-color: var(--input-base);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  gap: .5rem;
  
  
  .radio-iner{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: .7rem;

    input, input:focus, input:hover {
      all: unset;
      position: absolute;
      inset: 0;
    }

    svg{
      align-self: center;
    }

    label{
      margin-bottom: 0;
    }

    &:has(:checked){
      background-color: var(--input-stroke);
      
      border-radius: .5rem;

      svg{
        stroke: #59B2FF;
      }

      label{
        color: #f9f9f9;
      }
    }

    }

  }