.sec-1 {
  .radio-wrapper {
    border: 1px solid var(--input-placeholder);
    border-radius: .5rem;
    padding: 0.25rem;
    background-color: var(--input-base);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    gap: .5rem;


    .radio-iner {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-content: center;
      position: relative;
      padding: .7rem;

      input,
      input:focus,
      input:hover {
        all: unset;
        position: absolute;
        inset: 0;
      }

      svg {
        align-self: center;
      }

      label {
        margin-bottom: 0;
      }

      &:has(:checked) {
        background-color: var(--input-stroke);

        border-radius: .5rem;

        svg {
          stroke: #59B2FF;
        }

        label {
          color: #f9f9f9;
        }
      }

    }

  }
}

.sec-2 {
  .radio-wrapper {
    display: flex;
    gap: 2rem;
  }
  
  .radio-iner {

    input {
      margin-top: 1rem;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      border: 8px solid var(--shape-button);
    }

    input:hover, input:focus{
      border: 8px solid var(--shape-hover);
    }

    input[type="radio"]:checked{
      border: 8px solid var(--shape-button);
      outline: 4px solid #59B2FF;
    }

  }
}