#app{
  display: grid;
  grid-template-columns: 35.625% 64.375%;
  /*height: 100vh;*/
  border-radius: 0.75rem;

  form{
    display: grid;
    gap: 3rem;
  }
}

aside{
  padding: 5rem;
  overflow: hidden;

    & .aside-container{
      max-width: 25rem;
      position: relative;

      .img-aside{
        position: absolute;
        z-index: -1;
        width: 100%;
        border-radius: 0.75rem;
      }

      header{
        grid: 10rem;
        margin-left: 2.5rem;
        .logo{
          padding-top: 2rem;
          /*top: 1.5rem;
          left: 2rem;*/
        }

        h1{
          /*top: 5rem;
          left: 2rem;*/
          font: var(--logo);
          color: var(--pink);
        }

        p{
          /*top: 9rem;
          left: 2rem;*/
          font: var(--body-sm);
          color: var(--text-body);
        }
      }
  }
}


main{
  overflow: auto;
  padding-block: 8rem;
  padding-inline: 8rem;
  background-color: var(--shape-body);
  border-radius: 0.75rem;

  & .main-container{
    max-width: 51.25rem;
  }
}