#app{
  display: grid;
  grid-template-columns: 35.625% 64.375%;
  height: 100vh;
  overflow: hidden;
  border-radius: 0.75rem;
}

aside{
  padding: 5rem;
    
    .aside-container{
      max-width: 29rem;
      position: relative;

    .img-aside{
      width: 100%;
      border-radius: 0.75rem;
    }

    .logo{
      
      position: absolute;
      top: 1.5rem;
      left: 2rem;
    }

    h1{
      position: absolute;
      top: 4.5rem;
      left: 2rem;

      font: var(--logo);
      color: var(--pink);
    }

    p{
      position: absolute;
      top: 8.5rem;
      left: 2rem;

      font: var(--body-sm);
      color: var(--text-body);
    }
  }
    
    
  
}


main{
  overflow: auto;
  padding: 5rem;
  background-color: var(--shape-body);
  border-radius: 0.75rem;
  

  .main-container{
    max-width: 51.25rem;
  }
}